.fish-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: fantasy; 
  background-color: null;
  width: 70%; /* Set the width of the fish list */
  float: left; /* Align the fish list to the left side */
 
}
#aside {
  width: 30%; /* Set the width of the aside */
  float: right; /* Add some margin between the fish list and the aside */
  background-color: transparent;
  color: whitesmoke;
  backdrop-filter: blur(5px);
}
.fish__item {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.fish-card {
   padding: 20px 80px;
   backdrop-filter: blur(1px);
   
}

.fish-card img {
  border: 2px solid white;
}

.title {
  background-color: transparent; 
  padding: 20px;
  text-align: center;
  font-size: 46px;
  color: white
      }


.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .index-body {
    background-image: url("../images/better background.webp");
    background-size: cover; /* Ensure the entire container is covered by the background image */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image horizontally and vertically */
    background-attachment: fixed; /* Fix the background image in the viewport */
  }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.quotes-section{
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: fantasy; 
  background-color: null;
  
  float: left; /* Align the fish list to the left side */
  width: 70%; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}
.location-card {
  padding: 20px 80px;
  color: white
  
}
.locations-list img {
  width: 300px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}
.nav-links {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.nav-links li {
  display: inline-block; /* Display list items horizontally */
}

.nav-links a {
  display: block; /* Ensure links fill their list item containers */
  padding: 10px 20px; /* Add padding around links */
  text-decoration: none; /* Remove default underline */
  color: white; /* Set link color */
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add background color on hover */
  /* Adjust color and other styles as needed */
}
h2 {
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
}

#aside-paragraph {
  font-size: larger;
}